body{
  background-color:palegoldenrod;
}

header {
  border-top:2px solid green;
  border-bottom:1px solid;
  text-align:center;
  height:25%;
  background-image: url("headerbg1.png");
}

h1.title {
  font-family: "Lucida Sans Unicode", sans-serif;
  color:darkslategray;
}

.formh {
  font-family: "Courier New", Courier, monospace;
  font-style:oblique;
  color:darkviolet;
}

form {
  font-family: "Palatino Linotype", Palatino, serif;
  color:purple;
}

nav {
  position:relative;
  border-bottom:1px solid;
  padding:5px;
  height:50px;
  line-height:50px;
  background-color:silver;
  font-family: "Georgia", serif;
}

aside {
  padding:10px;
  height:525px;
  width:25%;
  float:left;
  background-color:deepskyblue;
  color:ghostwhite;
}

section {
  padding:10px;
  width:71%;
  float:left;
}

figcaption {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color:darkturquoise;
}

p.street {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:darkred;
}

footer{
  border-top:1px solid;
  border-bottom:1px solid;
  clear:both;
  padding:10px;
  height:50px;
  line-height:50px;
  background-color:orange;
  font-family:Helvetica, sans-serif;
}